// fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');
// vars
$mainFont: 'Nunito', sans-serif;
$secondFont:'Roboto', sans-serif;
// weights
$light:300;
$regular:400;
$bold:600;
// colors
$mainColor:rgba(233, 204, 157, 0.795);
$secondaryColor:orange;
$thirdColor:grey;
$fourthColor:chocolate;
$fifthColor:khaki;
$white:rgb(247, 247, 247);
$black:rgb(7, 7, 7);
// sizies
$sm:0.8em;
$md:1em;
$lg:1.4em;
$xl:1.8em;
$xxl:2.4em;
// general
*{
    font-family:$mainFont;
    box-sizing:border-box;
}
h1,
h2,
h3{
    font-family: $mainFont;
    color: $secondaryColor;
    font-weight: $bold;
}
h1{
    font-family: $mainFont;
    margin-left: 20px;
    font-weight: $bold;
}
p{
    color: $thirdColor;
    line-height: $lg;
    font-size: $md;
}
header img{
    width: 100%;
    display: block;
    margin: auto;
}
.footer{
    background-color: $mainColor;
    width: auto;
    border-top: solid 1px $black;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    a{
        color: $fourthColor;
        list-style: none;
        text-decoration: none;
    }
    img{
        width: 50px;
        padding: 15px 5px;
    }
}
.container{
    background-color:$mainColor;
    width: 90%;
    height: auto;
    margin: 50px auto;
    padding: 20px 15px;
}
.contact{
    background-color:$mainColor;
    margin: 20px 20px;
}
.map-card{
    margin-left: 20px;
    width: 90%;
    height: 450px;
}
.text-bold{
    font-weight: $bold;
}
.text-roboto{
    font-style: $secondFont;
}
.bg-grey{
    background-color: $thirdColor;
}
.bg-choco{
    background-color: $fourthColor;
}
.card{
    h2{
        color: $secondaryColor;
        font-size: $bold;
    }
    p{
        color: $thirdColor;
    }
    .bg-orange{
        background-color: $secondaryColor;
        color: $white;
        &:hover{
            background-color: $fifthColor;
            color: $black;
        }
    }
}
.btn-send{
    background-color:$fourthColor;
    color:$white;
    margin-bottom: 5px;
    &:hover{
        background-color:$fifthColor;
        color:$black;
    }
}
.btn-send{
    background-color:$fourthColor;
    color:$white;
    margin-bottom: 5px;
}
.btn-send:hover{
    background-color:$fifthColor;
    color:$black;
}
.not-found{
    background-color: $mainColor;
    font-size: $lg;
    img{
        height: auto;
        width: 100%;
    }
    p{
        font-family: $secondFont;
        font-size: $md;
        font-style: $bold;
    }
}