.nos-img{
    img{
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
}
.box-us{
    @include boxs(row, space-evenly, wrap);
    .card-vid1{
        border: 3px solid $thirdColor;
        border-radius: 10px;
        width: 50%;
        margin-bottom: 30px;
        padding: 20px;
        iframe{
            max-width: 100%;
            height: auto;
        }
        p{
            font-size: $md;
            line-height: $lg;
            margin-left: 32px;
        }
    }
    .card-vid2{
        border: 3px solid $thirdColor;
        border-radius: 10px;
        width: 50%;
        margin-bottom: 30px;
        padding: 20px;
        iframe{
            max-width: 100%;
            height: auto;
        }
        p{
            font-size: $md;
            line-height: $lg;
            margin-left: 32px;
        }
    }
}
