@media (width < 1024px){
// index
    .productos-destacados{
        flex-direction: row;
        .productos{
            width: 33%;
        }
    }
// store
.store{
    grid-template-columns: 50%;
    grid-template-rows: auto;
    grid-template-areas:
    "actions"
    "."
    "prod1"
    "prod2"
    "prod3"
    "prod4";
    .actions{
        padding: 0;
        width: 100%;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
        input{
            background-color: $mainColor;
        }
        }
        .filters{
            display: none;
        }
        .prod1{
            flex-direction: column;
            margin-bottom: 10px;    
            p{
                width: 100%;
                text-align: center;
                text-overflow: ellipsis;
            }
        }
    }    
}
@media (width < 992px){
    // index
    .productos-destacados{
        .productos{
            width: 50%;
        }
    }
    // store
    .store{
        grid-template-columns: 75%;
        grid-template-rows: auto;
        grid-template-areas:
        "actions"
        "."
        "prod1"
        "prod2"
        "prod3"
        "prod4";
        .actions{
            padding: 0;
            width: 100%;
            margin-top: 20px;
            justify-content: center;
            input{
                background-color: $mainColor;
            }
        }
        .filters{
            display: none;
        }
        .prod1{
            flex-direction: column;
            margin-bottom: 10px;    
            p{
                width: 100%;
            }
        }
    }
}
@media (width < 768px){
    /* index */
    .productos-destacados{
        flex-direction: column;
        .productos{
            width: 100%;
        }
    }
    // nosotros
    .box-us{
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .store{
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
        "actions"
        "."
        "prod1"
        "prod2"
        "prod3"
        "prod4";
        .actions{
            padding: 0;
            width: 99%;
            margin-top: 20px;
            justify-content: center;
            align-items: center;
            input{
                background-color: $mainColor;
            }
        }
        .filters{
            display: none;
        }
        .prod1{
            flex-direction: column;
            margin-bottom: 10px;
            text-align: center;    
            p{
                width: 90%;
                margin-left: 20px;
            }
        }
    }
    .footer{
        flex-direction: column;
        align-items: center;
    }
}